1 ICON "YGO-VI18.ico"

1 VERSIONINFO
FILEVERSION 1, 1, 9, 1
PRODUCTVERSION 1, 1, 9, 1
FILEOS 0x4
FILETYPE 0x1

BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "080404b0"
BEGIN
VALUE "FileDescription", "YGO-VI-Simple"
VALUE "InternalName", "YGO-VI-Simple"
VALUE "LegalCopyright", "Copyright (C) Fluorohydride"
VALUE "OriginalFilename", "YGO-VI-Simple"
VALUE "ProductName", "YGO-VI-Simple"
VALUE "FileVersion", "1.1.9.1"
VALUE "ProductVersion", "1.1.9.1"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x804, 1200
END
END
